extends patternLayouts

block content
  main(itemprop='mainContentOfPage')
    .section
      .wrap
        h1(itemprop='headline name').emphasized Test
        .columns
          ul.list
            li
              strong Id: 
              = db[0].id
            li
              strong Date Created: 
              = db[0].date_created
            li
              strong Date Modified: 
              = db[0].date_modified
            li
              strong Date Published: 
              = db[0].datePublished
            li
              strong Description: 
              = db[0].description
            li
              strong Type: 
              = db[0].type
            li
              strong Slug: 
              = db[0].slug
            li
              strong Meta Title: 
              = db[0].meta_title
            li
              strong Meta Description: 
              = db[0].meta_description
          ul.list
            li
              strong Description: 
              = db[0].description
            li
              strong Excerpt: 
              = db[0].excerpt
            li
              strong Author Id: 
              = db[0].author_id
            li
              strong Contributors Id: 
              = db[0].contributors_id
            li
              strong Status: 
              = db[0].status
            li
              strong Comments Status: 
              = db[0].comments_status
            li
              strong Comments Count: 
              = db[0].comments_count
            li
              strong Keywords Id: 
              = db[0].keywords_id
            li
              strong Medias Id: 
              = db[0].medias_id
        p= db[0].content
